includedir /var/lib/sss/pubconf/krb5.include.d/

includedir /etc/krb5.conf.d/
[libdefaults]
  default_realm = {{ ipa_realm }}
  dns_lookup_realm = false
  rdns = false
  dns_canonicalize_hostname = false
  dns_lookup_kdc = true
  ticket_lifetime = 24h
  forwardable = true
  udp_preference_limit = 0
  default_ccache_name = KEYRING:persistent:%{uid}


[realms]
  {{ ipa_realm }} = {
    kdc = {{ ipa_server }}:88
    master_kdc = {{ ipa_server }}:88
    admin_server = {{ ipa_server }}:749
    kpasswd_server = {{ ipa_server }}:464
    default_domain = {{ ipa_domain }}
    pkinit_anchors = FILE:/var/lib/ipa-client/pki/kdc-ca-bundle.pem
    pkinit_pool = FILE:/var/lib/ipa-client/pki/ca-bundle.pem

  }


[domain_realm]
  .{{ ipa_domain }} = {{ ipa_realm }}
  {{ ipa_domain }} = {{ ipa_realm }}
  {{ ansible_host }} = {{ ipa_realm }}

