[domain/{{ ipa_domain }}]

id_provider = ipa
ipa_server = _srv_, {{ ipa_server }}
ipa_domain = {{ ipa_domain }}
ipa_hostname = {{ inventory_hostname }}
auth_provider = ipa
chpass_provider = ipa
access_provider = ipa
cache_credentials = True
ldap_tls_cacert = /etc/ipa/ca.crt
dyndns_update = True
dyndns_iface = {{ ansible_default_ipv4.interface }}
krb5_store_password_if_offline = True
[sssd]
services = nss, pam, ssh, sudo

domains = {{ ipa_domain }}
[nss]
homedir_substring = /home

[pam]

[sudo]

[autofs]

[ssh]

[pac]

[ifp]

[session_recording]

