# {{ ansible_managed }}
cluster.name: {{ graylog_os_cluster_name }}
node.name: {{ graylog_os_node_name }}
path.data: {{ graylog_os_data_dst }}
path.logs: /var/log/opensearch
network.host: 127.0.0.1
http.port: 9200
transport.port: 9300
discovery.type: single-node
action.auto_create_index: false
plugins.security.disabled: true
