---

- name: "Manage Users on Linux"
  ansible.builtin.user: "{{ item }}"
  loop: "{{ linux_users }}"
  when: not legacylinux

- name: "Authorized Keys for Linux"
  ansible.posix.authorized_key: "{{ item }}"
  loop: "{{ linux_authorized_keysp }}"
  when: not legacylinux
  no_log: true

- name: "Legacy user add"
  raw: "useradd -c '{{ item.comment }}' -m {{ item.name }}"
  loop: "{{ linux_users }}"
  when: legacylinux and item.state == "present"
  changed_when: False
  failed_when: False
  no_log: true

- name: "Legacy user add .ssh dir"
  raw: "install -o {{ item.name }} -g {{ item.group }} -m 700 -d /home/{{item.name}}/.ssh"
  loop: "{{ linux_users }}"
  when: legacylinux and item.state == "present"
  changed_when: False
  no_log: true

- name: "Legacy user authorized_key set"
  raw: "cd /home/{{item.user}}/.ssh; echo '{{ item.key }}' > authorized_keys;chown {{item.user}}.{{item.user}} authorized_keys"
  when: legacylinux and item.state == "present"
  loop: "{{ linux_authorized_keysp }}"
  changed_when: False
  no_log: true
