# {{ ansible_managed }}
# Cloudflare API token for certbot-dns-cloudflare. Mode must be 0600.
# Set certbot_cloudflare_api_token via ansible-vault.
dns_cloudflare_api_token = {{ certbot_cloudflare_api_token }}
