BODY
{
	font-family:		sans-serif;
}

DIV#background
{
	background:		url(images/Background.png) repeat-x;
    position:       fixed;
    top:            0;
    left:           0;
    right:          0;
    bottom:         0;
    background-size: 100% 100%;
    z-index:        -100;
}

DIV.banner
{
	height:			105px;
	font-size:		24px;
	width:			960px !important;
	margin:			0;
	background-color: #f48b20; /* holistech orange */
}

DIV.utility1
{
	/*background-color: #9eba0c;  /* light holistech green */
	background-color: #7a8d17;  /* holistech green */
	color:			#000;
	height:			34px;
	margin:			0;
	text-align:		right;
	width:			615px !important;
	font-size:		14pt;
	text-align:		left;
	padding-left:		25px;
	padding-top:		6px;
}

DIV.utility2
{
	background-color:	#fbbb3d; /* holistech yellow */
	height:			30px;
	margin:			0;
	padding-right:		25px;
	padding-top:		10px;
	text-align:		right;
	width:			295px !important;
	color:			#0e1a40;
}

DIV.utility2 a { text-decoration: none; }
DIV.utility2 a:link { color: #0e1a40; }
DIV.utility2 a:visited { color: #0e1a40; }
DIV.utility2 a:hover { text-decoration: underline; }

DIV#course_syllabus_label {
    color: white;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 181px;
    width: 210px;
}

DIV.spacer
{
	height:			7px;
}

DIV.footer
{
	background-color:	#fbbb3d; /* holistech yellow */
	height:			40px;
	text-align:		center;
	width:			810px !important;
	margin:			0px;
	padding-top:		25px;
	position:		fixed;
	bottom:			0px;
	color:			white;
	padding-left:		150px;
	font-style:		italic;
}
DIV.footer SPAN.logo
{
    background-image: url(images/holistech_footer.png);
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 50px 10px;
    background-size: 215px auto;
    background-repeat: no-repeat;
    height: 65px;
    left: 0;
    position: absolute;
    top: 0;
    width: 315px;
    background-color: midnightblue;
}

DIV.footer SPAN.holistech
{
    color: black;
    font-family: monospace;
    font-size: 18px;
    font-style: normal;
    left: -23px;
    position: relative;
    top: -3px;
}    

TD
{
	vertical-align:		top;
}

TABLE.formtable TH { text-align: right; padding-right: 1em }
TABLE.formtable TD { vertical-align: middle; }
TABLE.formtable { border-spacing: 0; }
TABLE.formtable TR.error1 TD { border: 1px solid #cd0a0a; border-bottom: 0; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; background: #fcc5c5 url(jquery/images/ui-bg_diagonals-small_95_fcc5c5_40x40.png) 50% 50% repeat; color: #cd0a0a; padding: 10px; }
TABLE.formtable TR.error2 TD, TABLE.formtable TR.error2 TH { background: #fcc5c5 url(jquery/images/ui-bg_diagonals-small_95_fcc5c5_40x40.png) 50% 50% repeat; color: #cd0a0a; }
TABLE.formtable TR.error2 TD { border-right: 1px solid #cd0a0a; border-bottom: 1px solid #cd0a0a; -moz-border-radius-bottomright: 4px; padding-bottom: 10px; }
TABLE.formtable TR.error2 TH { border-left: 1px solid #cd0a0a; border-bottom: 1px solid #cd0a0a; -moz-border-radius-bottomleft: 4px; padding-bottom: 10px; }


H1
{
    font-size: 24px;
}

H2
{
    border-bottom: 2px solid midnightblue;
}
