includedir /usr/local/etc/krb5.conf.d/

[libdefaults]
  default_realm = STARNIX.NET
  dns_lookup_realm = false
  rdns = false
  dns_canonicalize_hostname = false
  dns_lookup_kdc = true
  ticket_lifetime = 24h
  forwardable = true
  udp_preference_limit = 0

[realms]
  STARNIX.NET = {
    kdc = ipa1.starnix.net:88
    master_kdc = ipa1.starnix.net:88
    admin_server = ipa1.starnix.net:749
    kpasswd_server = ipa1.starnix.net:464
    default_domain = starnix.net
    pkinit_anchors = FILE:/usr/local/etc/ipa/ca.crt
  }

[domain_realm]
  .starnix.net = STARNIX.NET
  starnix.net = STARNIX.NET
  {{ inventory_hostname }} = STARNIX.NET
