[sssd]
services = nss, pam, ssh, sudo
domains = {{ ipa_domain }}

[nss]
homedir_substring = /home

[pam]

[sudo]

[ssh]

[domain/{{ ipa_domain }}]
debug_level = 2
id_provider = ldap
auth_provider = krb5
chpass_provider = krb5
access_provider = permit

ldap_uri = ldap://{{ ipa_server }}
ldap_search_base = cn=compat,{{ ipa_basedn }}
ldap_schema = rfc2307
ldap_tls_cacert = /usr/local/etc/ipa/ca.crt
ldap_tls_reqcert = demand

krb5_realm = {{ ipa_realm }}
krb5_server = {{ ipa_server }}
krb5_kpasswd = {{ ipa_server }}
krb5_store_password_if_offline = True

cache_credentials = True
override_shell = /usr/local/bin/bash
