---

- name: Install rsyslog
  ansible.builtin.package:
    name: rsyslog
    state: present
  become: true

- name: Configure rsyslog to forward logs to remote server
  template:
    src: rsyslog.conf.j2
    dest: /etc/rsyslog.conf
  notify: restart rsyslog
  become: true

