p.instructions
{
	line-height: 		1.5;
	font-size:		10pt;
}

td.questionNumber
{
	font-weight:		bold;
	padding:		0.25em;
	font-size:		12pt;
	color:			#bf5b04;
}

td.question
{
	width:			100%;
	font-weight:		bold;
	padding:		0.25em;
	font-size:		12pt;
	color:			#bf5b04;
}

td.optionNumber
{
	width:			50px;
	font-weight:		bold;
	padding:		0.25em;
	font-size:		10pt;
	color:			#bf7e04;
}

td.option
{
	padding:		0.25em;
	font-size:		10pt;
	color:			#bf7e04;
}

tr.right
{
	background-color:	#E0FFE0;
	border-color: 		#80FF80;	
}

tr.wrong
{
	background-color:	#FFFF80;
	border-color:		#FF8080;
}

TABLE.gradeTable td.response span
{
	display:		block;
	line-height:		1.0;
	margin-bottom:		10px;
}

TR.questionDisabled
{
	opacity: 0.5;
}
