---

- name: "Enable non-free repos"
  ansible.builtin.replace:
    path: "/etc/apt/sources.list"
    regexp: "^(deb.* main)$"
    replace: "\\1 contrib non-free non-free-firmware"

- name: "Update APT package index"
  ansible.builtin.apt:
    update_cache: true

- name: "Create base directories"
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  loop:
    - "/kronos"
    - "/Music"
    - "/Videos"
    - "/scratch"

- name: "Install base dependencies"
  ansible.builtin.apt:
    name:
      - "ca-certificates"
      - "curl"
      - "gnupg"
      - "lsb-release"
      - "unzip"
    state: "present"

- name: "Install Intel iGPU drivers and VAAPI support packages"
  ansible.builtin.apt:
    name:
      - "intel-media-va-driver"
      - "vainfo"
      - "mesa-utils"
      - "libva-drm2"
      - "libva2"
      - "linux-image-amd64"
    state: "present"

- name: "Ensure /etc/apt/keyrings directory exists"
  ansible.builtin.file:
    path: "/etc/apt/keyrings"
    state: directory
    mode: "0755"

- name: "Add Docker APT key"
  ansible.builtin.apt_key:
    url: "https://download.docker.com/linux/debian/gpg"
    state: present

- name: "Add Docker APT repository"
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ ansible_architecture }}] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
    update_cache: true
    
- name: "Clean up any old key files"
  ansible.builtin.file:
    path: "/etc/apt/trusted.gpg.d/docker-archive-keyring.gpg"
    state: absent

- name: "Install Docker CE packages"
  ansible.builtin.apt:
    name:
      - "docker-ce"
      - "docker-ce-cli"
      - "containerd.io"
      - "docker-buildx-plugin"
      - "docker-compose-plugin"
    state: "present"

- name: "Create /usr/local/bin directory"
  ansible.builtin.file:
    path: "/usr/local/bin"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"


- name: "Download and install Nomad if version mismatch"
  block:
    - name: "Download Nomad {{ nomad_version }}"
      ansible.builtin.get_url:
        url: "https://releases.hashicorp.com/nomad/{{ nomad_version }}/nomad_{{ nomad_version }}_linux_amd64.zip"
        dest: "/tmp/nomad.zip"
        mode: "0644"

    - name: "Unzip Nomad binary"
      ansible.builtin.unarchive:
        src: "/tmp/nomad.zip"
        dest: "/usr/local/bin/"
        remote_src: true
        mode: "0755"

    - name: "Write installed Nomad version"
      ansible.builtin.copy:
        content: "{{ nomad_version }}"
        dest: "/etc/nomad.version"
        owner: "root"
        group: "root"
        mode: "0644"
  tags: ["never", "install"]

# Install Consul if missing or wrong version
- name: "Download and install Consul"
  block:
    - name: "Download Consul {{ consul_version }}"
      ansible.builtin.get_url:
        url: "https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_amd64.zip"
        dest: "/tmp/consul.zip"
        mode: "0644"

    - name: "Unzip Consul binary"
      ansible.builtin.unarchive:
        src: "/tmp/consul.zip"
        dest: "/usr/local/bin/"
        remote_src: true
        mode: "0755"

    - name: "Write installed Consul version"
      ansible.builtin.copy:
        content: "{{ consul_version }}"
        dest: "/etc/consul.version"
        owner: "root"
        group: "root"
        mode: "0644"
  tags: ["never", "install"]

- name: "Create Nomad and Consul config directories"
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  loop:
    - "/etc/consul.d"
    - "/etc/nomad.d"

- name: "Deploy Consul configuration"
  ansible.builtin.template:
    src: "templates/consul.hcl.j2"
    dest: "/etc/consul.d/consul.hcl"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Restart Consul"
  tags: ["deploy", "consul"]

- name: "Deploy Nomad configuration"
  ansible.builtin.template:
    src: "templates/nomad.hcl.j2"
    dest: "/etc/nomad.d/nomad.hcl"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Restart Nomad"
  tags: ["deploy", "nomad"]

- name: "Deploy Docker daemon.json"
  ansible.builtin.template:
    src: "templates/daemon.json.j2"
    dest: "/etc/docker/daemon.json"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Restart Docker"
  tags: ["deploy", "docker"]

- name: "Deploy Nomad systemd unit"
  ansible.builtin.template:
    src: "templates/nomad.service.j2"
    dest: "/etc/systemd/system/nomad.service"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Restart Nomad"

- name: "Deploy Consul systemd unit"
  ansible.builtin.template:
    src: "templates/consul.service.j2"
    dest: "/etc/systemd/system/consul.service"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Restart Consul"

- name: "Reload systemd"
  ansible.builtin.systemd:
    daemon_reload: true

- name: "Install NFS and Ceph client utilities"
  ansible.builtin.apt:
    name:
      - "nfs-common"
      - "ceph-common"
    state: "present"

- name: "Ensure NFS mounts are present in /etc/fstab"
  ansible.builtin.blockinfile:
    path: "/etc/fstab"
    marker: "# {mark} ANSIBLE MANAGED BLOCK - NFS Mounts"
    block: |
      mimir.starnix.net:/mnt/Store /kronos nfs nfsvers=4,soft,rsize=262144,wsize=262144,intr,noatime,lock,user,users,_netdev,auto,exec 0 0
      mimir.starnix.net:/mnt/Store/Music /Music nfs nfsvers=4,soft,rsize=262144,wsize=262144,intr,noatime,lock,user,users,_netdev,auto,exec 0 0
      mimir.starnix.net:/mnt/Store/Videos /Videos nfs nfsvers=4,soft,rsize=262144,wsize=262144,intr,noatime,lock,user,users,_netdev,auto,exec 0 0

- name: "Enable and start Docker"
  ansible.builtin.systemd:
    name: "docker"
    enabled: true
    state: "started"

- name: "Enable and start Consul"
  ansible.builtin.systemd:
    name: "consul"
    enabled: true
    state: "started"

- name: "Enable and start Nomad"
  ansible.builtin.systemd:
    name: "nomad"
    enabled: true
    state: "started"

- name: "Check if Netdata is already installed"
  ansible.builtin.stat:
    path: "/usr/sbin/netdata"
  register: netdata_installed

- name: "Download Netdata kickstart script"
  ansible.builtin.get_url:
    url: "https://get.netdata.cloud/kickstart.sh"
    dest: "/tmp/netdata-kickstart.sh"
    mode: "0755"
  when: not netdata_installed.stat.exists

- name: "Run Netdata installer with claim token"
  ansible.builtin.command: >
    /bin/bash /tmp/netdata-kickstart.sh
    --non-interactive
    --stable-channel
    --claim-token 1QmMLLmDEGSZZIpl6pS-rnctHmLykObZ83EH85MpbQaE0-qNKwmYKTOHfFfwzzSFcm6rOg-1_pZ3XDGP_XuTSzlDjaCbJEs_69lvDEYKqfzC_enP7pKtcwNThiy8fWrHneEDKKc
    --claim-rooms fc064564-bcca-48c3-8d5e-e11796227312
    --claim-url https://app.netdata.cloud
  args:
    creates: "/usr/sbin/netdata"
  when: not netdata_installed.stat.exists

