# {{ ansible_managed }}
[Unit]
Description=AirSane Imaging Service (eSCL/AirScan)
After=avahi-daemon.service network-online.target
Wants=avahi-daemon.service

[Service]
Type=simple
User=saned
Group=saned
SupplementaryGroups=scanner lp
# Let the scanner settle and prime the SANE backend before announcing.
ExecStartPre=/bin/sleep 3
ExecStartPre=-/usr/bin/scanimage -L
ExecStart={{ scanner_airsane_bin }} \
    --listen-port={{ scanner_airsane_port }} \
    --access-file=/etc/airsane/access.conf \
    --options-file=/etc/airsane/options.conf \
    --ignore-list=/etc/airsane/ignore.conf \
    --mdns-announce=true \
    --web-interface=true \
    --hotplug=true \
    --local-scanners-only=false
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
